/*COMMON*/
body {
    /*box*/
    margin: 0px 0px 0px 0px;

    /*background*/
    background-color: #ffffff;

    /*font*/
    color: #808080;
    font-family: 'Times New Roman', Times, serif;
}

/*MAIN_CONTENT*/
#main-content {
    /*box*/
    margin: 90px 0px 0px 0px;
}

#main-content h1 {
    /*box*/
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;

    /*font*/
    color: #8B572A;
    text-align: center;
}

#main-content-booking {
    /*box*/
    margin: 0px 0px 0px 10px;
}

#main-content-booking h2 {
    /*font*/
    color: #8B572A;
}

#main-content-booking label {
    /*font*/
    font-size: 20px;
}

#main-content-booking input[type="text"] {
    /*box*/
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #8B572A;

    /*font*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    /*UI*/
    outline: none;
}

#main-content-booking select {
    /*box*/
    width: 200px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #8B572A;

    /*font*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#main-content-booking option {
    /*box*/
    padding: 10px 0px 10px 0px;
}

.main-content-booking-member-detail {
    /*box*/
    margin: 0px 0px 5px 0px;
}

.main-content-booking-member-detail div {
    /*model*/
    display: flex;
}

.main-content-booking-member-detail label {
    /*box*/
    width: 200px;
}

.main-content-booking-member-detail input[type="text"] {
    /*box*/
    width: 50px;
}

#main-content-booking-date input[type="text"] {
    /*box*/
    width: 50px;
}

.main-content-booking-check input[type="button"] {
    /*box*/
    width: 200px;
    margin: 10px 0px 10px 0px;
    padding: 10px 5px 10px 5px;
    border-width: 0px 0px 0px 0px;

    /*background*/
    background-color: #999966;

    /*font*/
    color: #ffffff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    /*animation*/
    transition: all 0.3s ease;
}

.main-content-booking-check input[type="button"]:hover {
    /*background*/
    background-color: #e6e69a;
}