body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

/*main-content*/
#main-content {
    margin-top: 90px;
    color: white;
    background: linear-gradient(to right, black, lightgray);
}

#main-content h1 {
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}

#main-content-booking {
    margin: 0px 0px 0px 10px;
}

#main-content-booking select {
    width: 200px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid orange;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#main-content-booking option {
    padding: 10px 0px 10px 0px;
}

#main-content-booking input {
    width: 200px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid orange;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#main-content-booking button {
    margin: 10px 0px 10px 0px;
    padding: 10px 5px 10px 5px;
    width: 200px;
    color: white;
    background-color: lightgray;
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}