footer {
    /*background*/
    background-color: #ffffff;

    /*font*/
    color: #999966;
}

footer h1 {
    /*font*/
    text-align: center;
}

footer p {
    /*font*/
    font-size: 15px;
    text-align: center;
}

footer span {
    /*font*/
    font-weight: bold;
}