footer {
    color: #999966;
    background-color: white;
}

footer h1 {
    text-align: center;
    font-style: italic;
    color:#999966;
    font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif; 
}

footer p {
    text-align: center;
    font-size: 15px;
}

footer span {
    font-weight: bold;
}