header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    /*font*/
    color: white;
    background-color: gray;
    text-align: center;
}

/*upper-menu*/
#upper-menu-list {
    /*form*/
    display: flex;
    justify-content: end;
    list-style-type: none;

    /*box*/
    margin: 0px;
    padding: 0px;
}

#upper-menu-list li {
    /*box*/
    width: 200px;
    height: 20px;
    margin: 0px;
    padding: 5px 0px 5px 0px;

    /*font*/
    font-size: 15px;
}

#upper-menu-list li a {
    color: white;
    text-decoration: none;
}

.upper-menu-list-top {
    /*box*/
    padding: 0px;
}

.upper-menu-list-top li {
    /*font*/
    background-color: lightgray;
}

/*main-menu*/
#main-menu-list {
    /*form*/
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    /*box*/
    margin: 0px;
    padding: 0px;
}

#main-menu-list li {
    /*box*/
    width: 200px;
    height: 40px;
    margin: 0px;
    padding: 20px 0px 0px 0px;

    /*font*/
    font-size: 20px;
}

#main-menu-list li a {
    color: white;
    text-decoration: none;
}

.main-menu-list-top {
    /*box*/
    margin-top: 18px;
    padding: 0px;
}

.main-menu-list-top li {
    /*font*/
    background-color: lightgray;
}

.has-sub-menu:hover {
    background-color: rgb(143, 138, 138);
}

/*sub-menu*/
.sub-menu {
    /*form*/
    display: none;
    list-style-type: none;
}

.sub-menu-active {
    display: block;
}

.sub-menu-active li:hover {
    opacity: 0.8;
}