/*COMMON*/
body {
    /*box*/
    margin: 0px 0px 0px 0px;

    /*background*/
    background-color: #ffffff;

    /*font*/
    color: #808080;
    font-family: 'Times New Roman', Times, serif;
}

.slide {
    /*box*/
    overflow: hidden;

    /*font*/
    white-space: nowrap;
}

.slide> :first-child {
    /*animation*/
    animation-name: slide;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.slide img {
    /*box*/
    width: inherit;
    height: inherit;
    margin: -2px -2px -2px -2px;
    padding: 0px 0px 0px 0px;
    border: none;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    33% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }
}

/*MAIN_CONTENT*/
#main-content {
    /*box*/
    margin: 50px 0px 0px 0px;
}

.main-content-slide {
    width: 100%;
}

/*MAIN_CONTENT_LOGO*/
#main-content-logo {
    /*box*/
    width: 100%;
    margin: 20px 0px 0px 0px;

    /*font*/
    font-size: 30px;
    text-align: center;
}

#main-content-logo h1,
#main-content-logo h2 {
    /*model*/
    display: inline-block;
    position: relative;

    /*font*/
    color: #999966;
}

#main-content-logo h1:before,
#main-content-logo h1:after {
    /*model*/
    display: block;
    position: absolute;
    top: 50%;

    /*box*/
    width: 200px;
    height: 4px;
    margin: -2px 0px 0px 0px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #996600;

    /*interface*/
    content: "";
}

#main-content-logo h1:before {
    /*model*/
    left: -224px;
}

#main-content-logo h1:after {
    /*model*/
    right: -224px;
}

/*MAIN_CONTENT_ABOUT*/
#main-content-about h1 {
    /*box*/
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 5px 10px;
    border-width: 0px 0px 4px 0px;
    border-style: solid;
    border-color: #8B572A;

    /*font*/
    color: #8B572A;
}

.main-content-tourAbout {
    /*model*/
    display: flex;
    justify-content: flex-start;
}

.main-content-tourAbout-slide {
    /*box*/
    width: 500px;
}

.main-content-tourAbout button {
    /*box*/
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 10px 5px 10px 5px;
    border: 0px;

    /*background*/
    background-color: #999966;

    /*font*/
    color: #ffffff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    /*animation*/
    transition: all 0.3s ease;
}

.main-content-tourAbout button:hover {
    /*background*/
    background-color: #e6e69a;
}

.main-content-tourAbout-detail {
    /*box*/
    padding: 0px 0px 0px 50px;
}

.main-content-tourAbout-detail-explain p {
    /*font*/
    font-size: 20px;
}

.main-content-tourAbout-detail-option {
    /*model*/
    display: flex;
    justify-content: flex-start;
}

.main-content-tourAbout-detail-option div {
    /*box*/
    margin: 0px 50px 0px 0px;
}

.main-content-tourAbout-detail-option img {
    /*box*/
    border-width: 3px;
    border-style: solid;
    border-color: #8B572A;
    border-radius: 50%;
}

.main-content-tourAbout-detail-option p {
    /*font*/
    color: #8B572A;
    font-weight: bold;
    text-align: center;
}