body {
    color: gray;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

/*slide*/
.slide {
    white-space: nowrap;
    overflow: hidden;
}

.slide> :first-child {
    animation-name: slide;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.slide img {
    width: inherit;
    height: inherit;
    margin: -2px;
    padding: 0px;
    border: none;
}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    33% {
        margin-left: -100%;
    }

    66% {
        margin-left: -200%;
    }

    100% {
        margin-left: -300%;
    }
}

/*main-content*/
#main-content {
    margin-top: 50px;
}

.main-content-slide {
    width: 100%;
}

/*main-content-about*/
#main-content-about h1 {
    margin: 0px;
    padding: 100px 0px 5px 10px;
    border-bottom: 2px solid gray;
}

.main-content-tourAbout {
    /*固定ヘッダによるアンカーリンクの位置調整*/
    display: flex;
    justify-content: flex-start;
}

.main-content-tourAbout button {
    margin: 0px;
    padding: 10px 5px 10px 5px;
    width: 200px;
    color: white;
    background-color: lightgray;
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.main-content-tourAbout button:hover {
    opacity: 0.8;
}

.main-content-tourAbout-detail {
    padding-left: 50px;
}

.main-content-tourAbout-detail-explain p {
    font-size: 25px;
}

.main-content-tourAbout-slide {
    width: 500px;
}

#under_main {
    height: 200px;
    text-align: center;
}

#information {
    font-size: 20px;
    padding: 100px 0px 5px 10px;
    border-bottom: 3px solid grey;
}

#information li, p {
    font-size: 25px;
}