body {
    color: gray;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

/*main-content*/
#main-content {
    margin-top: 90px;
}

#main-content h1 {
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}

#main-content h2 {
    margin: 0px;
    padding: 100px 0px 5px 10px;
    border-bottom: 2px solid lightgray;
}

#main-content h3 {
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
}

.main-content-schedule {
    display: flex;
}

.main-content-schedule-left {
    position: relative;
}

.main-content-schedule-left::before {
    content: "";
    width: 500px;
    height: 500px;
    display: block;
    background: linear-gradient(to right, transparent, white);
    position: absolute;
}

.main-content-schedule-left img {
    width: 500px;
    height: 500px;
}

.main-content-schedule-right ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 50px;
}

.main-content-schedule-right ul li {
    margin-top: 5px;
    font-size: 20px;
}

.main-content-schedule-right ul li input {
    display: none;
}

.main-content-schedule-right ul li label {
    padding-left: 5px;
    border-left: 10px solid gold;
}

.main-content-schedule-right ul li label:hover {
    border-left: 10px solid orange;
}

.main-content-schedule-right ul li input:checked+label {
    border-left: 10px solid orange;
    border-bottom: 2px solid orange;
}

.main-content-schedule-right p {
    margin: 5px 0px 0px 0px;
    padding-left: 50px;
}

.main-content-schedule-right button {
    margin: 0px;
    padding: 10px 5px 10px 5px;
    width: 200px;
    color: white;
    background-color: lightgray;
    border: 0px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.main-content-schedule-right button:hover {
    opacity: 0.8;
}