/*COMMON*/
body {
    /*box*/
    margin: 0px 0px 0px 0px;

    /*background*/
    background: #ffffff;

    /*font*/
    color: #808080;
    font-family: 'Times New Roman', Times, serif;
}

/*MAIN_CONTENT*/
#main-content {
    /*box*/
    margin: 90px 0px 0px 0px;
}

#main-content h1 {
    /*box*/
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;

    /*font*/
    color: #8B572A;
    text-align: center;
}

#main-content h2 {
    /*box*/
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 5px 10px;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #8B572A;

    /*font*/
    color: #8B572A;
}

#main-content h3 {
    /*box*/
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;

    /*font*/
    color: #8B572A;
}

.main-content-schedule {
    /*model*/
    display: flex;
}

.main-content-schedule-left {
    /*model*/
    position: relative;
}

.main-content-schedule-left::before {
    /*model*/
    display: block;
    position: absolute;

    /*box*/
    width: 500px;
    height: 500px;

    /*background*/
    background: linear-gradient(to right, transparent, white);

    /*UI*/
    content: "";
}

.main-content-schedule-left img {
    /*box*/
    width: 500px;
    height: 500px;
}

.main-content-schedule-right ul {
    /*model*/
    list-style-type: none;

    /*box*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 50px;
}

.main-content-schedule-right ul li {
    /*box*/
    margin: 5px 0px 0px 0px;

    /*font*/
    font-size: 20px;
}

.main-content-schedule-right ul li input {
    /*model*/
    display: none;
}

.main-content-schedule-right ul li label {
    /*box*/
    padding: 0px 0px 0px 5px;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #ffd700;
}

.main-content-schedule-right ul li label:hover {
    /*box*/
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #ffa500;
}

.main-content-schedule-right ul li input:checked+label {
    /*box*/
    border-width: 0px 0px 2px 10px;
    border-style: solid;
    border-color: #ffa500;
}

.main-content-schedule-right p {
    /*box*/
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 50px;
}

.main-content-schedule-right button {
    /*box*/
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 10px 5px 10px 5px;
    border: 0px;

    /*background*/
    background-color: #999966;

    /*font*/
    color: #ffffff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    /*animation*/
    transition: all 0.3s ease;
}

.main-content-schedule-right button:hover {
    /*background*/
    background-color: #e6e69a;
}